{% extends 'base.html' %}
{% block title%}Login{% endblock %}
{% block content %}
    <h3 class="text-center">Enter your details</h3>
    <div class="col-md-6 offset-md-3">
        <form method="POST" action>
          {% csrf_token %}
          <div class="form-group">
            <input type="text" class="form-control" placeholder="User name" name="username">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="User password" name="password">
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-ticket">Log In</button>
          </div>
        </form>
    </div>
    <div class="text-center">
      <a href="{% url 'home' %}" class="btn btn-ticket text-center my-2">Back</a>
    </div>
{% endblock %}