{% extends 'base.html' %}
{% block content %}
	<div class="container text-center">
		<h1>All Tickets</h1>
		{% for ticket in all_tickets %}
			<!-- Size of font adjusted using template trick, in-line style, makes it more attractive for user--> 
			<a href="{% url 'show_single' ticket.id %}" style="font-size:1{{ ticket.upvotes }}px;">{{ ticket.title }} 
				{% if ticket.progress == 'To do' %} 
				<!-- Depending on type of ticket and progress state different font colour for improved readability -->
					<span style='background-color: thistle'>{{ ticket.progress }}</span>
				{% elif ticket.progress == 'Doing' %}
					<span style='background-color: palegreen'>{{ ticket.progress }}</span>
				{% else %}
					<span style='background-color: navajowhite'>{{ ticket.progress }}</span>
				{% endif %}
				{% if ticket.ticket_type == 'Bug' %}
					<span style='background-color: pink'>{{ ticket.ticket_type }}</span>
				{% else %}
					<span style='background-color: lavender'>{{ ticket.ticket_type }}</span>
				{% endif %}
				&#8679;{{ ticket.upvotes }}
			</a>
			<br>
	    {% endfor %}
	    <a href="{% url 'home' %}">Back</a>
	</div>
{% endblock %}