{% extends 'base.html' %}
{% block content %}
	<div class="container text-center">
		<h1>All Tickets</h1>
		<div class="row">
		{% for ticket in all_tickets %}
			<div class="card text-center card-custom">
				<div class="card-header">
					{% if ticket.ticket_type == 'Bug' %}
						<span class="status" style="background-color: #F9899C">BUG</span>
						{% if ticket.progress == 'To do' %} 
					<!-- Depending on type of ticket and progress state different font colour for improved readability -->
						<span class="status" style="background-color: #ec5151">ToDo</span>
					{% elif ticket.progress == 'Doing' %}
						<span class="status" style='background-color: #ffc365'>{{ ticket.progress }}</span>
					{% else %}
						<span class="status" style="background-color: #28a745">{{ ticket.progress }}</span>
					{% endif %}
					{% else %}
						<span class="status" style="background-color: #9292ff">FEATURE</span>
						{% if ticket.progress == 'To do' %} 
					<!-- Depending on type of ticket and progress state different font colour for improved readability -->
						<span class="status" style="background-color: #ec5151">ToDo</span>
					{% elif ticket.progress == 'Doing' %}
						<span class="status" style="background-color: #ffc365">{{ ticket.progress }}</span>
					{% else %}
						<span class="status" style="background-color: #28a745">{{ ticket.progress }}</span>
					{% endif %}
					{% endif %}
				</div>
				<div class="card-body">
					<h5 class="card-title">
					{{ ticket.title|title }}</h5>
					<p class="card-text">{{ ticket.body }}</p>
					<a href="{% url 'show_single' ticket.id %}" class="btn btn-ticket">View details</a>
				</div>
				<div class="card-footer text-muted">
					<p class="ticket-bottom"><span class="upvote">&#9733;</span>{{ ticket.upvotes }}<span class="float-right">Posted {{ ticket.pub_date|timesince }} ago</span></p>
				</div>
			</div>
	    {% endfor %}
	    </div>
	    <a href="{% url 'home' %}"  class="btn btn-primary my-2">Back</a>
	</div>
{% endblock %}