{% extends 'base.html' %}
{% block title%}New Ticket{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="container text-center">
		<div class="col-md-6 offset-md-3">
			<form method="POST" action="{% url 'add_ticket' %}">
				{% csrf_token %}
				{% if form.errors %}
				<p>Errors</p>
				{% endif %}
				{{ form|crispy }}
				<div class="text-center">
					<button type="submit" class="btn btn-ticket">Add Ticket</button>
				</div>
			</form>
		</div>
		<a href="{% url 'home' %}" class="btn btn-ticket text-center my-2">Home</a>
	</div>
{% endblock %}