@font-face {
    font-family: 'Roboto';
	src: url("/static/fonts/RobotoMono-Regular.ttf");
}
html {
	height: 100%;
}
body {
	font-family: 'Roboto';
	height: 100%;
	background: url("/static/img/background.jpg");
	background-size: cover;
}
#sticky-footer {
	flex-shrink: none;
}
#page-content {
	flex: 1 0 auto;
}
  