{% extends 'base.html' %}
{% block content %}
	<div class="custom-container text-center">
		<h1 class="text-center">Homepage</h1>
		<a href="{% url 'all_tickets' %}">All tickets</a>
		<a href="{% url 'blogs' %}">Blog</a>
	</div>
	<script type="text/javascript">
		var dataset = [{% for data in dataset %}["{{ data.username }}", {{ data.amount_comments }}],{% endfor %}];
		d3.select("body").selectAll("p")
			.data(dataset)
			.enter()
			.append("p")
			.text(function(d) { return d[0]; });
	</script>
{% endblock %}